.App {
  text-align: center;
  /* font-size: calc(25px + 1vmin); */
  font-size: 28px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {
  .App-root {
    width: 50vw;
  }

  .App-header {
    font-size: 28px;
  }
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .App-root {
    width: 55vw;
  }

  .App-header {
    font-size: 28px;
  }
}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .App-root {
    width: 60vw;
  }

  .App-header {
    font-size: 26px;
  }
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .App-root {
    width: 70vw;
  }

  .App-header {
    font-size: 26px;
  }
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
  .App-root {
    width: 80vw;
  }

  .App-header {
    font-size: 24px;
  }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 0px) and (max-width: 480px) {
  .App-root {
    width: 95vw;
  }

  .App-header {
    font-size: 22px;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: calc(22px + 1vmin); */
  color: #282c34;
}

.App-contents {
  height: auto;
  border: 1px solid #e5e6e6;
  padding: 3vh 0;
  display: flex;
  justify-content: center;
  /* height: 100%; */
}

.App-footer {
  min-height: 7vh;
  background-color: gray;
}
